<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<section class="hero is-primary is-fullheight-with-navbar is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Private File Share
            </h1>
            <h2 class="subtitle">
                powered by Spring Boot & Simple Storage Service (S3)
            </h2>

        </div>
    </div>
</section>

</body>
</html>