<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%-30t)] [%blue(%X{codePath})] [%blue(%X{rootCause})] [%X{traceId:-},%X{spanId:-}] [%X{thirdPartyCallDuration}] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="LOGZIO" class="io.logz.logback.LogzioLogbackAppender">
        <token>${LOGZIO_TOKEN}</token>
        <logzioUrl>https://listener.logz.io:8071</logzioUrl>
        <logzioType>structured-logging-application</logzioType>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGZIO"/>
    </root>

</configuration>