<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <LogzioAppender name="LOGZIO">
            <logzioToken>${env:LOGZIO_TOKEN}</logzioToken>
            <logzioUrl>https://listener.logz.io:8071</logzioUrl>
            <logzioType>log4j-example-app</logzioType>
        </LogzioAppender>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="${env:LOG_TARGET:-CONSOLE}"/>
        </Root>
    </Loggers>
</Configuration>
